body {
	background-image:url('palms2.jpg');
	font-family: sans-serif;
	font-size:100%;
}
h1 {
	position:absolute;
	color:#ffffff;
	text-align: center;
	font-size:234%;
	padding:.3em;
	font-family:serif;
	letter-spacing:1px;
}   
/*
.webkit a#title {
	background-image:url('palms2.jpg');
}
*/
a#title {
	display: block;
	color:#ffffff;
	text-align: center;
	font-size:234%;
	padding:.3em;
	font-family:serif;
	letter-spacing:1px;
	text-decoration:none;
	font-weight:bold;
	/*
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	*/
}
div#header {
	background:#000000;
	margin-bottom:.4em;
}
div#header {
	position:relative;
}
#main {
	background:#EDAC3B;
	background-color:rgba(239,245,114,0.7);
	width:80%;
	margin: 0 auto;
	margin-top:3.5em;
	overflow: auto;
	padding-bottom:1em;
	padding-left:1em;
	padding-right:1em;
	min-height: 350px; 
}
blockquote{
	display: block;
    font-size:150%;
    font-family:serif;
    padding: 1em;
    width:80%;
    margin:0 auto;
	background:#ffffff;
	background-color:rgba(255,255,255,0.5);
	border-radius:9px;
    margin-bottom: 2em;
}
a.viz {
	float:left;
	display: block;
	margin-left:7.5em;
	text-decoration:none;
	font-size:170%;
	padding:0.2em;
	background-color:rgba(0,0,0,0.7);
	color:#fff;
}   
a.idea {
	margin-left:3em;
}
a.viz:visited{
	text-decoration:none;
}
a.viz:hover{
	background-color:rgba(0,0,0,0.9);
}
p {
	font-family:sans-serif;
	font-size:130%;
}

svg {
	margin: 0 auto;
}
#svg {
	width: 745px;
}
h2 { 
	text-align: center;
	font-size:200%;
	color:#ffffff;
	background:#000000;
	border-radius: 15px;
}
div#side { 
	float:left;
	width: 17%;
	margin-left:0.3em;
	background:#ffffff;
	background-color:rgba(255,255,255,0.5);
	border-radius:9px;
	padding:.1em;
    margin-left:1.7em;
	padding-left:1.1em;
	padding-right:.35em;
}
div#right {
	display:none;
	position: fixed;
	width: 17%;
	right:1%;
	background:#ffffff;
	background-color:rgba(255,255,255,0.5);
	border-radius:9px;
	padding:.1em;
	margin-right:1em;
    margin-top:1em;
	padding-left:.35em;
	padding-right:.35em;
}
.circ {
	border-radius: 50%;
	background: #740B9E;
	display:inline-block;
	width: 45px;
	height: 45px; 
	float:left;
	margin-left:.6em;
	margin-top:.7em;
}
.circ:hover {
	background:#A63ECF;
}
.small {
	font-size:90%;
	margin-bottom: .2em;
}
h3 {
	text-align: center;
	text-decoration:underline;
}
.clear {
	clear: both;
	margin-top:.5em;
	position: relative;
	top:15px;
}
h4 {
	font-weight:normal;
	font-family:serif;
	font-size:155%;
	text-align: center;
	background-color:rgba(255,255,255,0.6);
}
#statement {
	border-left-style:solid;
	border-right-style:solid;
	padding-left:.4em;
	padding-right:.4em;
}
a#header {
	text-decoration:none;
	margin:0;
	padding:0;
}
